.form-wrap {
  border: 1px solid gray;
  padding: 30px;
  margin: 40px 50px;
  border-radius: 12px;
}

.input-block label {
  display: block;
}

.text-input {
  width: 100%;
  padding: 0.4em 0.8em;
  font-size: 19px;
}
.text-input::placeholder {
  /* color: rgba(137, 43, 226, 0.547); */
  font-weight: bold;
}

.input-block {
  margin-bottom: 15px;
}

.check {
  height: 15px;
  width: 15px;
  vertical-align: middle;
  accent-color: black;
}
