.input-block label {
  display: block;
}

.text-input {
  width: 300px;
  padding: 0.4em 0.8em;
}

.input-block {
  margin-bottom: 15px;
}

.check {
  height: 15px;
  width: 15px;
  vertical-align: middle;
  accent-color: black;
}
